/*START MAIN*/
:root {
  --background: #282828;
  --text: #e8e6e3;
  --menu: #1c1c1c;
  --highlightPri: #202020;
  --highlightSec: #3fb9c4;
  --header: #161616;
}

body {
  background-color: var(--background);
  color: var(--text);
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; /*Default fonts*/
  user-select: none; /*Stops the user from highlighting text*/
  
  padding: 0; /*Removes Default padding*/
  margin: 0; /*Removes Default margin*/
  overflow: hidden;
}

.sideMenuLeft {
  height: 100%;
  width: 240px;
  background-color: var(--menu);
}

.menuButton {
  text-align: center;
  height: 45px;
  line-height: 43px;
  font-size: 20px;
  cursor: pointer;
}
.menuButton:hover {
  background-color: var(--highlightPri);
}

#settingList {
  height: 100%;
  
  overflow-x: hidden;
  overflow-y: auto;
}
#settingList::-webkit-scrollbar {
  display: none;
}