:root {
  --background: rgba(224,224,244,1.0);
  --text: rgba(18,18,18,1.0);
  --menu: rgba(192,192,212,1.0);
  --highlightPri: rgba(180,180,200,1.0);
  --highlightSec: rgba(208,208,228,1.0);
  --header: rgba(115,138,219,1.0);
  --decoration: rgba(85,108,189,1.0);
}

body {
  background-color: var(--background);
  color: var(--text);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  user-select: none;

  padding: 15px;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
html {
  height: 100%;
}
a {
  color: var(--decoration);
}
hr {
border-top: 2px solid var(--decoration);
}

.returnButton {
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  height: 45px;
  top: 20px;
  width: 31%;
  background-color: var(--menu);
  border-radius: 15px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  transition: 0.5s ease;
}
.returnButton:hover {
  transform: translate(-1px, -3px);
  box-shadow: 4px 12px 16px 0 rgba(0,0,0,1);
}
.mainTitle {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  height: 10%;
  line-height: 100%;
  background-color: var(--background);
}

.optionCard {
  height: 85%;
  width: 32%;
  cursor: pointer;
  background-color: var(--menu);
  float: left;
  border-radius: 15px;
  transition: 0.5s ease;
}
.optionCard + .optionCard {
  margin-left: 2%;
}
.optionCard:hover {
  transform: translate(-2px, -6px);
  box-shadow: 4px 12px 16px 0 rgba(0,0,0,1);
}
.opCaTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.opCaDesc {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}



.optionContainer {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 87%;
}
.optionContainer::-webkit-scrollbar {
  display: none;
}
.opCoTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.opCoContent {
  width: 98%;
  margin: 0 auto;
  background-color: var(--menu);
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;

}
.opCoContent + .opCoContent {
  margin-top: 1%;
}
.opCoHeader {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 9px;
}



.red {
  color: #FF4444;
  text-shadow: 1px 1px #000000;
}

/*START MEDIA MOTION*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*END MEDIA MOTION*/