:root {
  --background: rgba(224,224,244,1.0);
  --text: rgba(18,18,18,1.0);
  --menu: rgba(192,192,212,1.0);
  --highlightPri: rgba(180,180,200,1.0);
  --highlightSec: rgba(208,208,228,1.0);
  --header: rgba(115,138,219,1.0);
  --decoration: rgba(85,108,189,1.0);
}

body {
  background-color: var(--background);
  color: var(--text);
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  user-select: none;
  
  padding: 0;
  margin: 0;
  overflow: hidden;
  
  height: 100%;
}

a {
  color: #738adb;
}

html {
  height: 100%;
}
hr {
border-top: 2px solid var(--decoration);
}
a {
  text-decoration: none;
  color: var(--decoration);
}

.pianoContainer {
  background-color: var(--menu);
  text-align: center;
}
.pianoBody {
  background-color: var(--menu);
}
.pianoKey {
  float: left;
  width: 18px;
  height: 90px;
  line-height: 90px;
  background-color: var(--highlightPri);
  
  text-align: center;
}
.pianoKey:active {
  font-weight: bold;
}
.lightKey {
  background-color: #FFFFFF;
  color: #454545;
}
.darkKey {
  background-color: #454545;
  color: #FFFFFF;
}

.sheetContainer {
  background-color: var(--menu);
  width: 300px;
  height: 150px;
}
.noteContainer {
  background-color: var(--menu);
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  height: 250px;
  width: 50%;
  letter-spacing: 3px;
  
  justify-content:center;
}