/*START MAIN*/
:root {
  --background: rgba(224,224,244,1.0);
  --text: rgba(18,18,18,1.0);
  --menu: rgba(192,192,212,1.0);
  --highlightPri: rgba(180,180,200,1.0);
  --highlightSec: rgba(208,208,228,1.0);
  --header: rgba(115,138,219,1.0);
  --decoration: rgba(85,108,189,1.0);
}

/*Default Style*/
body {
  background-color: var(--background);
  color: var(--text);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  user-select: none;

  padding: 0;
  margin: 0;
  overflow: hidden;

  height: 100%;
} html {
  height: 100%;
} hr {
border-top: 2px solid var(--decoration);
} a {
  color: var(--decoration);
}

.mainFlexScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*END MAIN*/

.sidebar {
  flex: 0 1 20%;
  background-color: var(--menu);
}

.contentContainer {
  flex: 0 1 80%;
}