/*START MAIN*/
:root {
  --background: rgba(224,224,244,1.0);
  --text: rgba(18,18,18,1.0);
  --menu: rgba(192,192,212,0.3);
  --highlightPri: rgba(180,180,200,1.0);
  --highlightSec: rgba(208,208,228,1.0);
  --header: rgba(115,138,219,1.0);
  --decoration: rgba(85,108,189,1.0);
}

/*Default Style*/
body {
  background-color: var(--background);
  background-image: linear-gradient(to bottom right, var(--background), var(--header));
  color: var(--text);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  user-select: none;

  padding: 0;
  margin: 0;
  overflow: hidden;

  height: 100%;
} html {
  height: 100%;
} hr {
border-top: 2px solid var(--decoration);
} a {
  color: var(--decoration);
}
pre {
  display: block;

  font-family: Consolas,"courier new";
  background-color: rgba(70,70,80,0.7);
  color: rgba(235,235,235,1);
  user-select: text;

  margin-left: 1%;

  width: 68%;
  padding: 1%;
  line-height: 1.6;

  overflow-x: auto;

  border: 1px solid #222222;
  border-left: 4px solid var(--header);
  border-radius: 5px;
} pre:hover, pre:focus {
  border-left: 4px solid var(--decoration);
} pre::-webkit-scrollbar {
  height: 12px;
} pre::-webkit-scrollbar-track {
  background-color: rgba(70,70,80,1);
} pre::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 20px;
  border: 3px solid rgba(70,70,80,1);
}

.mainFlexScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*END MAIN*/

.sidebar {
  flex: 0 1 20%;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;

  box-shadow: inset -2px 0px 0px var(--decoration);

  background-color: var(--menu);
} .sidebar::-webkit-scrollBar {
  display: none;
}

.sidebar .header {
  padding-left: 8%;

  height: 40px;
  line-height: 40px;

  overflow: hidden;

  font-weight: bold;
  font-size: 18px;
}
.sidebar .button {
  padding-left: 10%;

  height: 40px;
  line-height: 40px;

  overflow: hidden;

  cursor: pointer;
} .sidebar .button:hover {
  background-color: var(--menu);
}
.sidebar .footerSpacer {
  flex: 1 0 40px;
}

.sidebar .footer {
  position: fixed;
  bottom: 0;

  width: 20%;
  height: 40px;
  line-height: 40px;

  text-align: center;
  font-weight: bold;
  font-size: 21px;
  background-color: var(--header);

  cursor: pointer;
}

.contentContainer {
  flex: 0 1 78%;

  padding: 1%;
}
.contentScreen:not(#cs_About) {
  display: none;
}