/*START MAIN*/
:root {
  --text: rgba(255, 255, 253, 1);
  --textShadow: rgba(255, 255, 253, 0.1);
  --highlight: rgba(129, 202, 209, 1);
  --highlightShadow: rgba(129, 202, 209, 0.1);
  --menu: rgba(235, 235, 255, 0.15);
  --menuHighlight: rgba(235, 235, 255, 0.3);
}

@font-face {
	font-family: SourceSansPro;
	src: url('./../../Data/Fonts/SourceSansPro-Regular.ttf');
}
@font-face {
	font-family: Electrolize;
	src: url('./../../Data/Fonts/Electrolize-Regular.ttf');
}

/*Default Style*/
body {
  background-color: #152e42;
  color: var(--text);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  user-select: none;

  padding: 0;
  margin: 0;
  overflow: hidden;
} body, html {
  width: 100%;
  height: 100%;
} html:focus-within {
  scroll-behavior: smooth;
} img, picture {
  max-width: 100%;
  display: block;
} a {
  color: #FAF2DA;
}

.flexScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
} .flexScreen:not(#homeView) {
  display: none;
}

.backgroundVideo {
  position: absolute;

  top: 0;
  bottom: 0;
  z-index: -50;

  width: 100%;
  height: 100%;

  overflow: hidden;
}
.backgroundVideo video {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
/*END MAIN*/



/*START HOME LAYOUT*/
.topBox {
  flex: 1 0 10%;
  width: 100%;
}
.centerBox {
  flex: 1 0 90%;
  height: 90%;
  width: 100%;
}
.scrollBox {
  box-sizing: border-box;

  height: 100%;
  margin-left: 8%;

  overflow-y: scroll;

  padding-bottom: 20px;

  -webkit-overflow-scrolling: touch;
}
/*END HOME LAYOUT*/



/*START BASE UI*/
.topBox input[type="button"] {
 position: fixed;
 top: 3%;
 right: 11%;
}
/*END BASE UI*/

/*START MESSAGES*/
.message {
  box-sizing: border-box;

  width: 90%;
  height: 90px;
  line-height: 90px;

  overflow: hidden;

  background-color: var(--menu);
  border-top: var(--highlight) solid 2px;

  cursor: pointer;
} .message:active, .message:focus {
  background-color: var(--menuHighlight);
} .message + .message {
  margin-top: 10px;
}
.message .header {
  box-sizing: border-box;

  width: 85%;

  padding-left: 20px;

  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;

  font-size: 26px;
  text-shadow: 0px 5px var(--textShadow);
  font-family: SourceSansPro;
} .message .likes {
  color: var(--highlight);
  text-shadow: 0px 5px var(--highlightShadow);
  font-size: 22px;
  font-family: Electrolize;
  float: right;
  width: 9%;
  padding-right: 10px;
}
/*END MESSAGES*/

/*.view {
  margin: 12px;
  padding: 12px;
  display: flex;
  border-radius: 5px;
  background: #ffffff08;
  .avatar {
    min-width: 108px;
    max-width: 108px;
    user-select: none;
    text-align: center;
    img {
      width: 64px;
    }
    .name {
      word-break: break-all;
    }
  }
  .content {
    white-space: pre-line;
    padding: 0 16px;
    .title {
      margin-bottom: 1em;
      font-size: 1.2em;
      color: #00b0ff;
    }
    .image {
      margin-top: 20px;
      img {
        width: 12em;
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
}*/

/*}
.item {
  margin: 12px;
  padding: 12px;
  display: flex;
  user-select: none;
  border-radius: 5px;
  background: #ffffff08;
  .avatar {
    min-width: 108px;
    max-width: 108px;
    text-align: center;
    img {
      width: 64px;
    }
    .name {
      word-break: break-all;
    }
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    .title {
      min-height: 58px;
      word-break: break-word;
    }
    .info {
      display: flex;
      justify-content: flex-end;
      .likes {
        min-width: 72px;
      }
      .replies {
        min-width: 36px;
      }
      .likes, .replies {
        padding: 10px;
        font-size: 1.1em;
        img {
          height: 0.8em;
        }
      }
    }
  }
}*/

/*.reply {
  display: flex;
  margin: 12px;
  padding: 12px;
  border-radius: 5px;
  background: #ffffff08;
  .avatar {
    min-width: 108px;
    max-width: 108px;
    user-select: none;
    text-align: center;
    img {
      width: 64px;
    }
    .name {
      word-break: break-all;
    }
  }
  .content {
    padding: 0 12px;
    white-space: pre-line;
  }
}*/

.testSpacer {
  flex: 1 0 40px;
}

footer {
  text-align: center;
  flex: 0 1 60px;
  border-top: var(--highlight) solid 3px;
  width: 100%;
  background-color: var(--menu);
}

/*START MEDIA MOTION*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*END MEDIA MOTION*/