/*START MAIN*/
:root {
  --background: rgba(224,224,244,1.0);
  --text: rgba(18,18,18,1.0);
  --menu: rgba(192,192,212,1.0);
  --highlightPri: rgba(180,180,200,1.0);
  --highlightSec: rgba(208,208,228,1.0);
  --header: rgba(115,138,219,1.0);
  --decoration: rgba(85,108,189,1.0);
}

body {
  background-color: var(--background);
  background-image: linear-gradient(to bottom right, var(--background), var(--header));
  color: var(--text);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  user-select: none;

  padding: 0;
  margin: 0;
  overflow: hidden;

  height: 100%;
}
html {
  height: 100%;
}
hr {
border-top: 2px solid var(--decoration);
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.mainFlexScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*END MAIN*/

/*START GROUPED*/
.neuButton {
  background-color: rgba(30,30,30,0.05);
  box-shadow: 2px 2px 2px #404040, inset 2px 2px 2px white;
  transform: translate(-1px, -1px);
  cursor: pointer;
} .neuButton:hover {
  box-shadow: none;
  transform: translate(1px, 1px);
} .neuButton:hover:active {
  box-shadow: inset 2px 2px 2px #404040, inset -2px -2px 2px white;
  transform: translate(3px, 3px);
}

.disabledButton {
  text-decoration: line-through;
  background-color: rgba(60,30,30,0.3);
  box-shadow: inset 2px 2px 2px #404040, inset -2px -2px 2px white;
  transform: translate(4px, 4px);
  cursor: not-allowed;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}
/*END GROUPED*/

/*START MODULELIST*/
.moduleListContainer {
  display: flex;
  flex-direction: column;

  flex: 0 1 34%;

  overflow-x: hidden;
  overflow-y: auto;
}

.moduleListCategoryHeader {
  height: 30px;

  line-height: 30px;
  text-indent: 10px;

  font-size: 18px;

  background-color: var(--header);
  box-shadow: inset 0px -3px 0px var(--decoration);

  cursor: pointer;
}
#categoryHeaderArrow {
  float: right;
  pointer-events: none;
}
.moduleListSublist {
  padding: 3%;
  overflow-x: hidden;
  overflow-y: hidden;

  box-shadow: inset 5px 5px 5px #404040;
}

.moduleButton {
  float: left;
  text-align: center;

  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 10vw;
  border-radius: 10px;

  overflow: hidden;
}
.smallModuleButton {
  width: 48%;
}
.largeModuleButton {
  width: 100%;
}
#firstSmallButton + #secondSmallButton {
  margin-left: 4%;
}
.moduleButton + #firstSmallButton,
.moduleButton + #firstSmallButton + #secondSmallButton,
.moduleButton + .largeModuleButton {
  margin-top: 4%;
}

.moduleButtonHeader {
  font-weight: bold;
  font-size: 1.9vw;

  border-bottom: 2px solid var(--decoration);

  pointer-events: none;
}
.moduleButtonDesc {
  font-size: 1.6vw;
  overflow-y: scroll;

  pointer-events: none;
}

.moduleFolderSpacer {
  flex: 1 0 30px;
}
.moduleFolderButton {
  position: fixed;
  bottom: 0;

  height: 30px;
  width: 34%;

  text-align: center;

  line-height: 30px;

  font-size: 20px;
  font-weight: bold;

  background-color: var(--header);
  box-shadow: inset 0px 3px 0px var(--decoration);

  cursor: pointer;
}
/*END MODULELIST*/

/*START MAINMENU*/
.mainMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 1%;

  flex: 0 1 26%;

  overflow-x: hidden;
  overflow-y: auto;

  box-shadow: inset 5px 0px 5px white;
}
.mainMenuContainer hr {
  width: 92%;
  margin-bottom: 12px;
}

.mainMenuButton {
  height: 50px;
  width: 92%;

  text-align: center;
  line-height: 50px;

  font-size: 22px;
  font-weight: bold;

  border-radius: 10px;
  margin-bottom: 12px;
}
hr + hr {
  margin-top: auto;
}
/*END MAINMENU*/

/*START DETAIL*/
.detailContainer {
  flex: 0 1 38%;

  box-shadow: inset 5px 2px 5px #404040;

  overflow-x: hidden;
  overflow-y: auto;

  padding: 1%;

  display: none;
} .detailContainer::-webkit-scrollbar {
  display: none;
}
#homeDC {
  display: block;
}
/*END DETAIL*/

/*START HOME*/
.versionNum {
  position: absolute;

  top: 10px;
  right: 15px;

  font-size: 15px;
}

.titleHeader {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 5%;
}

.changelogPreviewHeader {
  background-color: var(--header);
  font-size: 20px;
  text-decoration: underline;
  padding-left: 2%;
  padding: 1%;
  height: 30px;
}
.changelogPreviewContent {
  box-shadow: inset 3px 5px 5px #404040, inset -1px -1px 1px #404040;
  user-select: text;
  padding: 2%;
  padding-left: 3%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 25%;
} .changelogPreviewContent::-webkit-scrollbar {
  display: none;
}

.externalCreditLink {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  float: left;
  margin-bottom: 6px;

  color: var(--text);
  border-radius: 10px;

  width: 45%;
  height: 45px;
  line-height: 45px;
} .externalCreditLink + .externalCreditLink {
  margin-left: 10%;
}
.finalHomeCredits {
  text-align: center;
}
/*END HOME*/

/*START CHANGELOG*/
#changelogFull {
  user-select: text;
  padding: 2%;
  padding-left: 3%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 70%;
  box-shadow: inset 3px 5px 5px #404040, inset -1px -1px 1px #404040;
}

.updateHeader {
  margin-bottom: 10px;
}
.updateType {
  font-size: 12px;
}
.updateTitle {
  font-size: 22px;
  text-decoration: underline;
}
.updateVersion {
  font-size: 14px;
  float: right;
}
/*END CHANGELOG*/

/*START CONTROL PANEL*/
/*nothing here yet*/
#controlpanelDC li { /* TODO: fix indent */
  list-style: none;
}
.settingsToggle {

} .settingsToggle:checked {

}
/*END CONTROL PANEL*/

/*START ACCOUNT*/
input[type=submit], input[type=reset] {
  outline: none;
  border: none;
  font-weight: bold;

  height: 35px;
  width: 45%;

  text-align: center;
  line-height: 35px;

  border-radius: 10px;
} #accountDC input[type=text] {
  height: 35px;
  width: 75%;

  text-indent: 1%;
  line-height: 35px;

  font-size: 18px;

  outline: none;

  border: none;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  box-shadow: inset 3px 3px 3px #808080, inset -3px -3px 3px white;
}
/*END ACCOUNT*/

/*START CREDITS*/
.versionFloater {
  float: right;
}
.abtMeHeader {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}
.abtMeSubHeader {
  font-size: 18px;
  font-weight: bold;
}
.abtMeImage {
  height: 160px;
  width: 130px;
}
.langFloater {
  float: right;
  margin-right: 20%;
}

.abtMeLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  float: left;
  margin-top: 6px;
  margin-bottom: 10px;

  color: var(--text);
  border-radius: 10px;

  width: 32%;
  height: 40px;
  line-height: 40px;
} .abtMeLink + .abtMeLink {
  margin-left: 2%;
}

.abtMeContactLink {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  float: left;
  margin-top: 6px;
  margin-bottom: 10px;

  color: var(--text);
  border-radius: 10px;

  width: 100%;
  height: 40px;
  line-height: 40px;
}
/*END CREDITS*/

/*START ADDITIONS*/
#quitConfirmContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.3);

  display: none;
  justify-content: center;
  align-items: center;
}
.quitConfirmMenu {
  width: 40%;

  background-image: linear-gradient(to bottom right, var(--background), var(--header));
  border-radius: 15px;
  box-shadow: 7px 7px 7px #404040, inset 3px 3px 3px white;
}

.quitConfirmHeader {
  text-align: center;
  font-size: 24px;
  margin-top: 5%;
  text-decoration: underline;
}
.quitConfirmButton {
  float: left;

  width: 45%;
  height: 40px;

  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 4%;

  text-align: center;
  line-height: 40px;
  font-size: 24px;
  border-radius: 10px;
} .quitConfirmButton + .quitConfirmButton {
  margin-left: 4%;
}
/*END ADDITIONS*/