/*START MAIN*/
:root {
  --background: #282828;
  --text: #e8e6e3;
  --menu: #1c1c1c;
  --highlightPri: #202020;
  --highlightSec: #353535;
  --header: #161616;
}

body {
  background-color: var(--background);
  color: var(--text);
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  
  user-select: none;
  
  padding: 0;
  margin: 0;
  overflow: hidden;
  
  height: 100%;
}

html {
  height: 100%;
}
/*END MAIN*/

.moduleListContainer {
  float: left;
  
  height: 98%;
  width: 34%;
  
  background-color: var(--menu);
  
  overflow-x: hidden;
  overflow-y: auto;
}

.mainMenuContainer {
  float: left;
  
  height: 98%;
  width: 24%;
  
  overflow-x: hidden;
  overflow-y: auto;
  
  padding: 1%;
}

.detailContainer {
  float: left;
  
  height: 98%;
  width: 38%;
  
  background-color: var(--menu);
  
  overflow-x: hidden;
  overflow-y: auto;
  
  padding: 1%;
}



.moduleListCategoryHeader {
  background-color: var(--header);
  cursor: pointer;
}

.mainMenuButton {
  background-color: var(--highlightPri);
  
  height: 50px;
  width: 100%;
  
  text-align: center;
  line-height: 50px;
  
  font-size: 22px;
  
  border-radius: 10px;
  
  cursor: pointer;
}
.mainMenuButton:hover {
  background-color: var(--highlightSec);
}
.mainMenuButton + .mainMenuButton {
  margin-top: 10px;
}
/*
.sideMenuLeft {
  position: absolute;
  
  transform: translateX(-215px);
  transition: 0.5s;
  
  background-color: var(--menu);
  
  height: 100%;
  width: 240px;
}
.sideMenuLeft:hover {
  transform: translateX(0px);
  transition: 0.6s;
}
.moduleList {
  height: 100%;
  
  overflow-x: hidden;
  overflow-y: auto;
}
.moduleList::-webkit-scrollbar {
  display: none;
}

.moduleListFake {
  float: left;
  height: 1px;
  width: 40px;
}

.moduleListToggle {
  height: 100%;
  width: 25px;
  float: right;
  
  background-color: var(--header);
}
.toggleText {
  margin-top: 250px;
  transform: rotate(-90deg);
}

.moduleHeader {
  height: 30px;
  line-height: 40px;
  
  color: #888888;
  font-size: 14px;
  text-indent: 7px;
  font-weight: bold;
  text-decoration: underline;
}

.moduleButton {
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
  
  transition: 0.3s;
  
  background-color: var(--menu);
  cursor: pointer;
}
.moduleButton:hover {
  background-color: var(--highlightPri);
  text-indent: 15px;
}
.installedStyle:hover {
  box-shadow: inset 5px 0px 0px 0px #40BF7A;
}
.coreStyle:hover {
  box-shadow: inset 5px 0px 0px 0px #7A40BF;
}
.previewStyle:hover {
  box-shadow: inset 5px 0px 0px 0px #BF7A40;
}




.changelog {
  margin-top: 1%;
  float: left;
  height: 400px;
  width: 40%;
  
  background-color: var(--menu);
}
.changelog + .changelog {
  margin-left: 2%;
  
  background-color: var(--menu);
}
.changelogHeader {
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  
  background-color: var(--header);
}
#changelogContent {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  height: 350px;
  
  user-select: text;
  cursor: auto;
  overflow-x: scroll;
  overflow-x: hidden;
}
#changelogContent::-webkit-scrollbar {
  display: none;
}

.updateHeader {
  font-size: 22px;
}
.updateType {
  vertical-align: sub;
  font-size: 14px;
}
.updateTitle {
  text-decoration: underline;
  font-weight: bold;
}
.updateVersion {
  font-size: 16px;
  font-weight: bold;
}


#upcomingContent {
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  height: 350px;
  
  user-select: text;
  cursor: auto;
  overflow-x: scroll;
  overflow-x: hidden;
}
#upcomingContent::-webkit-scrollbar {
  display: none;
}



.AlphaWarning {
  position: absolute;
  bottom: 30px;
  left: 50px;
  
  font-size: 24px;
  
  z-index: -1;
}
.VersionNum {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
}
*/