/*Default Colors*/
:root {
  --background: rgba(224,224,244,1.0);
  --text: rgba(18,18,18,1.0);
  --menu: rgba(192,192,212,1.0);
  --highlightPri: rgba(180,180,200,1.0);
  --highlightSec: rgba(208,208,228,1.0);
  --header: rgba(115,138,219,1.0);
  --decoration: rgba(85,108,189,1.0);
}

/*Default Style*/
body {
  background-color: var(--background);
  color: var(--text);
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; /*Default fonts*/
  user-select: none; /*Stops the user from highlighting text*/
  
  padding: 0; /*Removes default padding*/
  margin: 0; /*Removes Default margin*/
  overflow: hidden; /*In case you want users to be able to scroll on this page, remove this line*/
}

.PlaceholderContainer {
  margin-top: 70px;
  margin-left: 70px;
}

a {
  color: var(--decoration);
}